*{
    padding: 0;
    margin: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

nav{
    background-color: cornflowerblue;
    padding: 10px;
}

ul{
    list-style: none;
    display: flex;
}

li{
    margin: 0 15px;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: rgb(48, 34, 238);
}

.boton{
    padding: 40px;
}

button{
    background-color: aqua;
    border-radius: 50px;
    margin-top: 20px;
    border: solid 1px;
    padding: 12px;
}