/* Estilo básico para el body */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 20px;
}

/* Título principal */
h1 {
    color: #4CAF50;
    font-size: 35px;
    margin-bottom: 20px;
}

/* Párrafo */
p {
    font-size: 25px;
    color: #555;
    margin-bottom: 20px;
}

/* Estilo básico para el botón */
button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 25px;
    cursor: pointer;
    border-radius: 5px;
}

/* Efecto al pasar el ratón sobre el botón */
button:hover {
    background-color: #45a049;
}

